/* You can add global styles to this file, and also import other style files */
$primary: #A23B72;
$secondary: #3B1F2B;
$info: #2E86AB;
$warning: #F18F01;
$danger: #C73E1D;
@import "~bootstrap/scss/bootstrap";
@import "~@sembilan/bootstrap-theme/sass/sembilan";
